<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-10">
<div class="container">
  <div class="row justify-content-center">

    <div class="col-lg-10">
      <!-- Tabs with icons -->
      <div class="mb-3">
        <small class="text-uppercase font-weight-bold"> EMI Calculator for Home Loan, Car Loan & Personal Loan in India </small>
      </div>
        <ngb-tabset [justify]="'center'" class="custom-tab-content flex-column flex-md-row" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="ni ni-cloud-upload-96 mr-2"></i>Home 
              </ng-template>
                <ng-template ngbTabContent>
                  <b>Home Loan Amount</b>
             <emi-calc></emi-calc>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="ni ni-bell-55 mr-2"></i> Personal 
              </ng-template>
                <ng-template ngbTabContent>
                   <b>Personal Loan Amount</b>
                  <emi-calc></emi-calc>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                  <i class="ni ni-calendar-grid-58 mr-2"></i>Car 
              </ng-template>
                <ng-template ngbTabContent>
                   <b>Car Loan Amount</b>
                    <emi-calc></emi-calc>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
   
  </div>

 
  
</div>


  </div>

          </div>
        </div>
      </div>
      <!-- SVG separator --
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>-->
    </section>
    <!-- 1st Hero Variation -->
  </div>

</main>

